<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about">About</a></li>
    <li class="nav-blog" role="menuitem"><a href="{{site.baseurl}}blog">blog</a></li>
    <li class="nav-project" role="menuitem"><a href="{{site.baseurl}}project">project</a></li>
    <li class="nav-project" role="menuitem"><a href="{{site.baseurl}}react">react</a></li>
    <li class="nav-project" role="menuitem"><a href="{{site.baseurl}}coding">coding</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>